<%- include("partials/header") %>

<!-- home section starts  -->

<section class="home">
  <div class="swiper home-slider">
    <div class="swiper-wrapper">
      <div
        class="swiper-slide slide"
        style="background: url(images/home-slide-1.jpg) no-repeat"
      >
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>travel arround the world</h3>
          <a href="/package" class="btn">discover more</a>
        </div>
      </div>

      <div
        class="swiper-slide slide"
        style="background: url(images/home-slide-2.jpg) no-repeat"
      >
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>discover the new places</h3>
          <a href="/package" class="btn">discover more</a>
        </div>
      </div>

      <div
        class="swiper-slide slide"
        style="background: url(images/home-slide-3.jpg) no-repeat"
      >
        <div class="content">
          <span>explore, discover, travel</span>
          <h3>make your tour worthwhile</h3>
          <a href="/package" class="btn">discover more</a>
        </div>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<!-- home section ends -->

<!-- services section starts  -->

<section class="services">
  <h1 class="heading-title">our services</h1>

  <div class="box-container">
    <div class="box">
      <img src="images/icon-1.png" alt="" />
      <h3>adventure</h3>
    </div>

    <div class="box">
      <img src="images/icon-2.png" alt="" />
      <h3>tour guide</h3>
    </div>

    <div class="box">
      <img src="images/icon-3.png" alt="" />
      <h3>trekking</h3>
    </div>

    <div class="box">
      <img src="images/icon-4.png" alt="" />
      <h3>camp fire</h3>
    </div>

    <div class="box">
      <img src="images/icon-5.png" alt="" />
      <h3>off road</h3>
    </div>

    <div class="box">
      <img src="images/icon-6.png" alt="" />
      <h3>camping</h3>
    </div>
  </div>
</section>

<!-- services section ends -->

<!-- home about section starts  -->

<section class="home-about">
  <div class="image">
    <img src="images/about-img.jpg" alt="" />
  </div>

  <div class="content">
    <h3>about us</h3>
    <p>
      We are platform that provides you with a detailed itinarary for your trip
      and travels at your finger tips
    </p>
    <a href="/about" class="btn">read more</a>
  </div>
</section>

<!-- home about section ends -->

<!-- home packages section starts  -->

<section class="home-packages">
  <h1 class="heading-title">our packages</h1>

  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="images/img-1.jpg" alt="" />
      </div>
      <div class="content">
        <h3>PURI</h3>
        <p>
          Puri is one of the for must<br />visit places in Odisha.<br />puri is
          a beach city located on the<br />coast of Bay of Bengal<br />BEST TIME
          TO VISIT:
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-2.jpg" alt="" />
      </div>
      <div class="content">
        <h3>BHUBANESWAR</h3>
        <p>
          Bhubaneswar also known as the<br />"Temple city of India" can be a<br />great
          travel destination with your family.the city is known for its grand
          temples<br />BEST TIME TO VISIT:JUN-DEC
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-3.jpg" alt="" />
      </div>
      <div class="content">
        <h3>KONARK</h3>
        <p>
          Konark,in the state of Odisha is<br />a renowned world over the sun<br />for
          the Sun Temple which is also a<br />UNESCO world heritage site.<br />BEST
          TIME TO VISIT:SEP-MAR
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-4.jpg" alt="" />
      </div>
      <div class="content">
        <h3>CUTTAK</h3>
        <p>
          Referred as the cultural capital of Odisha,<br />cuttak is a
          commercial city with plenty<br />of impressive tourist attractions<br />>BEST
          TIME TO VISIT:JUL-MAR
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>
  </div>

  <div class="load-more"><a href="/package" class="btn">load more</a></div>
</section>

<!-- home packages section ends -->

<!-- home offer section starts  -->

<section class="home-offer">
    <div class="content">
       <h3>upto 50% off</h3>
       <p>GET A WOOPING 50% OFF ON YOUR FIRST BOOKING</p>
       <a href="/book" class="btn">book now</a>
    </div>
 </section>
 
 <!-- home offer section ends -->

<%- include("partials/footer"); %>
