<%- include("partials/header") %>

<div class="heading" style="background: url(images/header-bg-2.png) no-repeat">
  <h1>packages</h1>
</div>

<!-- packages section starts  -->

<section class="packages">
  <h1 class="heading-title">top destinations</h1>

  <div class="box-container">
    <div class="box">
      <div class="image">
        <img src="images/img-1.jpg" alt="" />
      </div>
      <div class="content">
        <h3>PURI</h3>
        <p>
          Puri is one of the for must<br />visit places in Odisha.<br />puri is
          a beach city located on the<br />coast of Bay of Bengal<br />BEST TIME
          TO VISIT:
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-2.jpg" alt="" />
      </div>
      <div class="content">
        <h3>BHUBANESWAR</h3>
        <p>
          Bhubaneswar also known as the<br />"Temple city of India" can be a<br />great
          travel destination with your family.its known for its grand temples<br />BEST
          TIME TO VISIT:JUN-DEC
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-3.jpg" alt="" />
      </div>
      <div class="content">
        <h3>KONARK</h3>
        <p>
          Konark,in the state of Odisha is<br />a renowned world over the sun<br />for
          the Sun Temple which is also a<br />UNESCO world heritage site.<br />BEST
          TIME TO VISIT:SEP-MAR
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-4.jpg" alt="" />
      </div>
      <div class="content">
        <h3>CUTTAK</h3>
        <p>
          Referred as the cultural capital of Odisha,<br />cuttak is a
          commercial city with plenty<br />of impressive tourist attractions<br />>BEST
          TIME TO VISIT:JUL-MAR
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-5.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Sambalpur</h3>
        <p>
          Sambalpur is the gateway to the westernzone of Odisha.<br />it bounds
          in prolific rivers,lavish hills<br />lush green forests and<br />affulent
          wildlife<br />BEST TIME TO VISIT:SEPT-MAY
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-6.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Rourkela</h3>
        <p>
          Surrounded by hills and rirvers,the city of<br />Rourkela is located
          in the state of Odisha.<br />Popularly known as the "Steel city of
          Odisha".<br />BEST TIME TO VISIT:OCT=MAR
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-7.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Daringbadi</h3>
        <p>
          Daringbadi is a hilly town in Odisha.<br />this hill station lies at
          3000ft abvove<br />sea level waiting to be explored.Daringbadi is
          known as the "Kashmir of Odisha"<br />BEST TIME TO VISIT:OCT-FEB
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-8.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Berhampur</h3>
        <p>
          It is also known as Brahmapur as the home of Lord Bramha<br />and is
          usually known <br />as the <br />"The Slik City."<br />BEST TIME TO
          VISIT:OCT-JAN
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-9.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Chandipur</h3>
        <p>
          Chandipur is a secluded sea side vilage in Balesore District<br />stored
          safely on the coastline of orissa Its an amazing place to be with your
          family<br />BEST TIME TO VISIT:NOV-MAR
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-10.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Koraput</h3>
        <p>
          Koraput is located in the southern part of Odisha.The entire district
          is covered with mountains <br />and is great destitation to spend a
          quality time with your family<br />BEST TIME TO VISIT:JUN-DEC
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-11.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Chilika Lake</h3>
        <p>
          Chilika lake is the largest internal salt water lake in Asia,it is
          paradise on Earth for bird watcher and bird lovers.The lake also
          houses the accomodating ecosystems in the world<br />BEST TIME TO
          VISIT:Antime
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="images/img-12.jpg" alt="" />
      </div>
      <div class="content">
        <h3>Rayagada</h3>
        <p>
          It is District in Odisha with rich history and a distinct culture
          which has,over the years,mingled with the local tribal culture.it can
          also be an option on your tourlist<br />BEST TIME TO VISIT:OCT-FEB
        </p>
        <a href="/book" class="btn">book now</a>
      </div>
    </div>
  </div>

  <div class="load-more"><span class="btn">load more</span></div>
</section>

<!-- packages section ends -->

<%- include("partials/footer"); %>
